@page
@model WebShopRP.Pages.Customers.EditModel
@{
}

<h1 class="display-3 mb-5">Edit Customer</h1>

<form method="post">
	<div class="form-group mb-3" hidden>
		<label asp-for="@Model.Data.Id" class="control-label"></label>
		<input asp-for="@Model.Data.Id" class="form-control" readonly="@(true)" />
	</div>
	<div class="form-group mb-3">
		<label asp-for="@Model.Data.Name" class="control-label"></label>
		<input asp-for="@Model.Data.Name" class="form-control" />
		<span asp-validation-for="@Model.Data.Name" class="text-danger"></span>
	</div>
	<div class="form-group mb-3">
		<label asp-for="@Model.Data.Address" class="control-label"></label>
		<input asp-for="@Model.Data.Address" class="form-control" />
		<span asp-validation-for="@Model.Data.Address" class="text-danger"></span>
	</div>
	<div class="form-group mb-3">
		<label asp-for="@Model.Data.Email" class="control-label"></label>
		<input asp-for="@Model.Data.Email" class="form-control" />
		<span asp-validation-for="@Model.Data.Email" class="text-danger"></span>
	</div>

	<p>
		<div class="form-group mb-3">
			<input type="submit" value="Update" class="btn btn-outline-primary" />
		</div>
	</p>
</form>
