@page
@model WebShopRP.Pages.Customers.AllModel
@{
}

<h1 class="display-3 mb-5">Customers</h1>

<div class="container">
    <div class="row">
        @foreach (var customer in Model.Data)
        {
            <div class="col-md-4 p-3">
                <div class="card shadow" style="width: 18rem;">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title">@customer.Name</h3>
                        <h5>@(customer.Email)</h5>
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5>@(customer.Address)</h5>
                            </div>
                            <div>
                                <a class="btn btn-outline-secondary btn-sm" type="button" title="View" asp-page="View" asp-route-id="@customer.Id"><i class="fa fa-eye"></i></a>
                                <a class="btn btn-outline-primary btn-sm" type="button" title="Edit" asp-page="Edit" asp-route-id="@customer.Id"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-outline-danger btn-sm" type="button" title="Delete" asp-page="Delete" asp-route-id="@customer.Id"><i class="fa fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<p>
    <a class="btn btn-outline-primary mt-3" asp-page="Create"> Create a new Customer </a>
</p>
