@page
@model RazorPageEFCDemo.Pages.Order.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Customer.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Item)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Item.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Amount)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Order.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
