@page
@model RazorPageEFCDemo.Pages.Order.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Customer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Item)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Item.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Amount)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
