@page
@model WebShopRP.Pages.Orders.ViewModel
@{
}

<h1 class="display-3 mb-5">View Order</h1>

<form method="get">
	<div class="form-group mb-3" hidden>
		<label asp-for="@Model.Data.Id" class="control-label"></label>
		<input asp-for="@Model.Data.Id" class="form-control" readonly="@(true)" />
	</div>
	<div class="form-group mb-3">
		<label asp-for="@Model.Data.Product.Name" class="control-label"></label>
		<input asp-for="@Model.Data.Product.Name" class="form-control" readonly="@(true)" />
	</div>
	<div class="form-group mb-3">
		<label asp-for="@Model.Data.Customer.Name" class="control-label"></label>
		<input asp-for="@Model.Data.Customer.Name" class="form-control" readonly="@(true)" />
	</div>
	<div class="form-group mb-3">
		<label asp-for="@Model.Data.Amount" class="control-label"></label>
		<input asp-for="@Model.Data.Amount" class="form-control" readonly="@(true)" />
	</div>
	<div class="mb-3">
		<p>Total price is @Model.Data.TotalPrice kr.</p>
	</div>

	<p>
		<a class="btn btn-outline-primary mt-3" asp-page="All">Back to list</a>
	</p>
</form>
